h1.post-title.entry-title {
    font-size: 35px;
    float: left;
    margin:10px 0px;
}
.content {
    background: #f3f3f3;
    padding: 0px 5% 0px 3%;
    width: 90%;
}
body {
    font-family: Roboto, sans-serif;
    background: #f3f3f3;
    overflow-x: hidden;
}
