h1.post-title.entry-title {
    display: none;
}
.content {
    background: #f3f3f3;
    padding: 0px 5% 0px 3%;
    width: 90%;
}
body {
    font-family: Roboto, sans-serif;
    background: #f3f3f3;
    overflow-x: hidden;
}
.post img {
margin: 0;
padding: 0;
border: 0; 
float: none;
width: 90%;
height: 100%;
}
