h1.post-title.entry-title {
    display: none;
}
.content {
    background: #f3f3f3;
    padding: 0px 5% 0px 3%;
    width: 90%;
}
body {
    font-family: Roboto, sans-serif;
    background: #f3f3f3;
    overflow-x: hidden;
}
.post img {
margin: 0;
padding: 0;
border: 0; 
float: none;
width: 90%;
height: 100%;
}
div#explore:hover {
    height: 100%;
}
div#explore {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
#explore a {
    color: #111;
    text-decoration: none;
}

div#explore li {
    list-style: none;
    padding: 6px 6px;
    border-bottom: 1px solid #ddd;
}
p#o-explore i {
    font-size: 28px;
    float: left;
    margin: 0px 10px 0px 0px;
}
#o-explore {
    display: block;
    padding: 5px 10px;
    left: 0;
    color: #ff531f;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
p#show-more {
    position: absolute;
    top: 194px;
    right: 0;
    background: rgb(255, 83, 31);
    font-size: 15px;
    padding: 2px 5px;
    color: #fff;
}
