.post-outer {
    width: 98%;
    position: relative;
    float: left;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #eaeaea;
}
.sidebar-box {
    max-height: 1600px;
    position: relative;
    overflow: hidden;
}
.sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0 120px 0;
    background: rgba(255, 255, 255, 0.7);
}
.sidebar-box .read-more li {
    list-style: none;
    margin: 0px 0px 20px 0px;
}
.read-more a:hover {
    background: #000;
    color: #fff;
}
.read-more a {
    padding: 15px 100px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #000;
    color: #000;
    background: #fff;
}
.separator {
    padding-top: 15px;
}
.column-right-outer {
    margin-top: 11px;
}
.post-title.entry-title {
    color: #ff5e00;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 38px;
}
.related-posts a {
    width: 100%;
    color: #000;
    margin: 0 0 15px 0;
}
.related-posts img {
    width: 85px;
    height: 70px;
    float: right;
    margin-left: 8px;
    border: 1px solid #ccc;
}
.related-posts {
    overflow: visible;
}
#related-title {
    font-size: 17px;
    font-weight: normal;
    padding: 0 5px;
}
.related-posts {
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: bold;
}
#blog-pager {
    overflow: visible;
    width: 90%;
}
div#PopularPosts3 {
    margin-top: 15px;
}
#left-sidebar h2 {
 margin-bottom:15px;
color:#ff5e00;
}
.PopularPosts .item-title {
	padding-bottom: .2em;
    width: 188px;
    text-align: center;
}
.PopularPosts img {
	padding-right: .4em
    padding: 0;
    border: 2px solid #222;
    width: 184px;
    background: #fff;
    height: 125px;
}
.popular-posts a {
    color: #464646;
    color: #222;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
