.relator {
    float: left;
    width: 250px;
    padding: 0px 10px;
    height:50px;
}
.relator li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px 10px 5px;
}
.relator a {
    text-decoration: none;
    color: #111;
}
#related-posts h2 {
    display: none;
}
#main {
    position: relative;
    width: 870px;
    background: #fff;
    margin: auto;
    margin-top: 60px;
}
.date-outer {
    float: left;
    width: 600px;
}
