.post-outer {
    width: 98%;
    position: relative;
    float: left;
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #eaeaea;
}
.sidebar-box {
    max-height: 1600px;
    position: relative;
    overflow: hidden;
}
.sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0 69px 0;
    background: rgba(255, 255, 255, 0.7);
}
.sidebar-box .read-more li {
    list-style: none;
    margin: 0px 0px 50px 0px;
}
.read-more a:hover {
    background: #000;
    color: #fff;
}
#subscribed {
	display:none
}
.separator {
    padding-top: 15px;
}
.column-right-outer {
    margin-top: 11px;
}
.post-title.entry-title {
    color: #000000;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 38px;
}
.related-posts a {
    width: 100%;
    color: #000;
    margin: 0 0 15px 0;
}
.related-posts img {
    width: 85px;
    height: 70px;
    float: right;
    margin-left: 8px;
    border: 1px solid #ccc;
}
.related-posts {
    overflow: visible;
}
#related-title {
    font-size: 17px;
    font-weight: normal;
    padding: 0 5px;
}
.related-posts {
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: bold;
}
#blog-pager {
    overflow: visible;
    width: 90%;
}
#left-sidebar h2 {
 margin-bottom:15px;
color:#ff5e00;
}
.PopularPosts .item-title {
	padding-bottom: .2em;
    width: 188px;
    text-align: center;
}
.PopularPosts img {
    border: 0;
    width: 60px;
    background: transparent;
    height: 60px;
    margin-right: 5px;
}
div#PopularPosts3 P {
    font-size: 29px;
    margin: 0;
    margin-bottom: 15px;
    line-height: 2;
}
.popular-posts a {
    color: #ff5e00;
    font-size: 16px;
    letter-spacing: 1.1px;
}
.lecture p {
    font-size: 30px;
    margin: 0;
    float: left;
    margin-top: 10px;
    width: 300px;
    text-align: center;
}
.lecture {
    color: #000;
    margin-top: 25px;
}
.lecture-inner {
width: 400px;
    margin: auto;
}
img#LOCK {
    width: 100px;
    float: left;
}
#not-subscribed {
    padding: 10px 0px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    border: 0;
    color: #fff;
    float: left;
    cursor: pointer;
    width: 300px;
    background: #ff5e00;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
#not-subscribed:hover {
    text-decoration: none;
}
