.section{margin:0}
#fund {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 160px;
    z-index: 999999;
    text-align: center;
}
#fund img {
    box-shadow: 0px 2px 20px #444;
    width: 600px;
}
#x-fund {
    position: absolute;
    float: right;
    margin: -22px;
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
    background: #000;
    padding: 0px 8px;
    border-radius: 100px;
}
.fahim img:hover {
    background: #050507;
    border: 7px double #000001;
}
.fahim {
    text-align: center;
    position: relative;
    top: 10px;
    background: #fff;
    padding-bottom: 10px;
}
.fahim img {
    height: 100px;
    margin: 20px 10px 5px 0px;
    border-radius: 100px;
    border: 7px double #c5c5c5;
    background: #fff;
}
#recommend {
    margin: 20px 5px;
}
.nav h3 {
    background: #fb9b4d;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}
.nav h3:hover {
    background: #f5862c;
}
.nav h3 a {
    color:#fff
}
#post-ad{text-align:center}
.post img {
    border: 1px solid #eaeaea;
}
.post h2 {
    padding: 10px 0;
}
.main-inner .columns {
    padding-left: 0;
    padding-right: 360px;
    background: #fff;
}
.main-inner .fauxcolumn-center-outer {
    left: 0;
    right: 360px;
}
.main-inner .fauxcolumn-left-outer {
    width: 0;
}
.main-inner .column-left-outer {
    width: 0;
    right: 100%;
    margin-left: -0;
}
#layout {
    min-width: 0;
}
#layout .content-outer {
    min-width: 0;
    width: 800px;
}
#layout .region-inner {
    min-width: 0;
    width: auto;
}
.main-inner .column-right-outer {
    width: 300px;
    margin-right: -300px;
}
body {
    overflow-x: hidden;
    padding: 0px 140px;
    font-family: trebuchet ms;
    color: #464646;
    font-size: 14.5px;
    max-width: 1025px;
    margin: auto;
    padding:0
}
a {
    color: steelblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #00a8e3;
}
a:visited {
    color: #888}
.sidebar {
    position: relative;
    right: 5px;
    top: 25px}
.post-comment-link {
    float: right}
.blog-pager-older-link,.home-link,.blog-pager-newer-link {
    font-size: 15px;
    padding-top: 8px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid #ddd;
    background: #f5f5f5;
    border-radius: 4px}
.home-link {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 150px;
}
.blog-pager-newer-link {
    padding-left: 14px;
    padding-right: 10px}
.blog-pager-older-link {
    padding-left: 7px;
    padding-right: 5px}
#HTML5 {
    padding: 0;
    margin: 0;
}
.column-right-outer {
    width: 24%;
    margin-left: 5px;
}
.sidebar section {
    background-color: #eee}
.code {
    border: solid #eee;
    border-width: 0 0 0 10px;
    background: url(//2.bp.blogspot.com/-e0n4DYVgyuU/Vjh8YBpEtkI/AAAAAAAAD5Y/cUP632j6_6o/s1600/code-background.jpg);
    font: 13px monospace;
    margin: 20px 0 0 0;
    padding: 0 10px 0;
    opacity: .9}
abbr.published {
    display: none}
.widget {
    margin: 10px 0}
.sidebar h4 {
    color: #777;
    font-size: 17px;
    padding: 2px 5px;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;
}
#sidebar-right-1 {
    position: relative;
    top: 0px;
    font-family: "Roboto","helvetica neue",helvetica,arial,sans-serif;
    width: 300px
}
.content-outer,.header-outer,.tabs-outer,.main-outer,.main-inner,.footer-outer,.post,.comments,.widget,.date-header,.inline-ad {
    position: relative;
    min-height: 0;
}
.footer-outer {
    margin-bottom: -1px}
.tabs-inner {
    padding: 0 15px}
.footer-inner {
    padding: 0}
.section:first-child .widget:first-child {
    margin-top: 0}
.section:first-child #uds-searchControl+.widget {
    margin-top: 0}
.section: last-child .widget: last-child {
    margin-bottom: 0}
.tabs:first-child .widget {
    margin-bottom: 0}
a img {
    border: 0;
    position: relative}
h1,h2,h3,h4 {
    margin: 0;
    position: relative}
h1 a:hover {
    text-decoration: none}
h3 a:hover {
    text-decoration: none}
.tabs .widget h2 {
    display: none}
.tabs .widget ul,.tabs .widget ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none}
.tabs .widget li,.tabs .widget li {
    margin: 0;
    padding: 0;
    float: left}
.tabs .widget li a:hover {
    text-decoration: none}
.widget {
    line-height: 1.4;
    padding-bottom: 15px;
}
.widget ul {
    padding: 0;
    margin: 0;
    line-height: 1.2}
.BlogList ul {
    padding: 0}
.BlogList li .blog-content {
    position: relative}
.widget li,.BlogArchive #ArchiveList ul.flat li {
    padding: .25em 0;
    margin: 0;
    text-indent: 0}
.widget .post-body ul {
    padding: 0 2.5em;
    margin: .5em 0;
    line-height: 1.4}
.widget .post-body li {
    margin-bottom: .25em;
    padding-top: 0;
    padding-bottom: 0}
.item-control {
    display: none}
.item-control a,.item-action a {
    text-decoration: none!important}
.widget-item-control {
    float: right;
    height: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 10}
.clearfix {
    font-size: 14px;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    background: #fff;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    z-index: 9;
}
.clearfix a {
    line-height: 1.7;
    color: #3993e2;
    text-decoration: underline
}
.page-footer {
    height: 0;
}
#sidebar-right-1 h2 {
    font-size: 20px;
    color: #464646;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 5px;
}
.floater {
    width: 14.7%;
    float: left;
    position: relative;
    margin-right: 7px;
    height: 10px;
}
.nav {
    position: relative;
}
.nav img {
    width: 100%;
}
.nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.nav a {
    color: #222;
    text-decoration: none;
}
.nav li:last-child {
    border: none
}
.nav .active {
    position: fixed;
    top: 40px;
    background: #f1f1f1;
}
.nav li {
    padding: 5px;
    font-size: 14px;
}
.nav li:hover a {
    color: #222;
}
#main {
    position: relative;
    float: left;
    width: 54%;
    background: #fff;
    margin-right: 10px;
}
#Blog1 {
    margin: 0;
    padding: 0;
}
div#comments {
    text-align: center;
}
#comments h4 {
    font-size: 25px;
}
.nav li ul li {
    border: 0;
}
.nav li:hover a {
    color: #4285f4;
}
textarea { resize: none; }
@media screen and (max-width: 700px) {
body {overflow-x:hidden}
}
.popular-posts ul {
    padding: 0;
}
.popular-posts ul li {
    list-style: none;
    border: 5px solid #e9ebee;
    margin-bottom: 20px;
    padding: 0;
}
.PopularPosts .item-thumbnail {
    margin: 0;
}
.popular-posts a {
    color: #444;
    font-weight: bold;
    font-size: 15px;
    font-family: arial,sans-serif;
}
.PopularPosts img {
    margin-right: 5px;
    background: #ffffff;
    border: 1px solid #e9ebee;
    padding: 0;
    width: 120px;
    height: 85px;
    float: left;
}
.PopularPosts .item-title {
    position: relative;
    top: 5px;
}
.sub-menu ul {
    position: relative;
    top: 5px;
    display: none;
    background: #ffffff;
}
.sub-menu ul li {
background: #ffffff;
    margin: 2px;
}
.sub-menu:hover ul {
    display: block;
}
.sub-menu {
    cursor: pointer;
}
#ad {
    padding: 25px 0px 10px 0px;
    text-align: center;
}
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
    width: 300px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

/* Form text input */

.search-wrapper input {
    width: 217px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 72px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #D83C3C;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #e54040;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}

.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.search-wrapper button:hover:before{
    border-right-color: #e54040;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}      

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
