.post img {
    border: 1px solid #eaeaea;
}
.post h2 {
    padding: 10px 0;
}
.content-outer,.content-fauxcolumn-outer,.region-inner {
    width: 1055px;
    max-width: 1055px;
    width: 1055px;
}
.main-inner .columns {
    padding-left: 0;
    padding-right: 360px;
}
.main-inner .fauxcolumn-center-outer {
    left: 0;
    right: 360px;
}
.main-inner .fauxcolumn-left-outer {
    width: 0;
}
.main-inner .fauxcolumn-right-outer {
    width: 360px;
}
.main-inner .column-left-outer {
    width: 0;
    right: 100%;
    margin-left: -0;
}
#layout {
    min-width: 0;
}
#layout .content-outer {
    min-width: 0;
    width: 800px;
}
#layout .region-inner {
    min-width: 0;
    width: auto;
}
.main-inner .column-right-outer {
    width: 300px;
    margin-right: -300px;
}
body {
    min-width: 1055px;
    font-family: trebuchet ms;
    color: #464646;
    font-size: 14.5px;
}
 a {
    color: #3993e2;
    text-decoration: none}
a:hover {
    text-decoration: underline;
    color: #287dc7}
a:visited {
    color: #888}
.sidebar {
    position: relative;
    right: 5px;
    top: 25px}
label {
    cursor: pointer}
.post-comment-link {
    float: right}
#author {
    background: transparent url(//1.bp.blogspot.com/--fsYbwHKiKM/T0uOGw-hdTI/AAAAAAAAA-s/QBcDITiSCEs/s1600/author.gif) no-repeat scroll top left;
    padding-left: 25px;
    font-size: 14px}
#publish {
    background: transparent url(//3.bp.blogspot.com/-1MEONG9XUgA/T0uOF8ICEdI/AAAAAAAAA-k/VBwTnA8PXbI/s1600/clock_icon.gif) no-repeat scroll top left;
    padding-left: 25px;
    font-size: 14px}
.comment-link {
    background: url(//4.bp.blogspot.com/-wGMp3jZ7DpU/T0uOrczut7I/AAAAAAAAA-0/F_BnJ5WS9BI/s1600/comment-icon.png) no-repeat scroll top left;
    padding-left: 25px;
    font-size: 14px}
.fauxborder-left.content-fauxborder-left {
    right: 45px}
body {
    overflow-x: hidden}
#blog-pager {
    margin-left: 3%;
    margin-right: 2%;
    overflow: visible}
.blog-pager-older-link,.home-link,.blog-pager-newer-link {
    font-size: 15px;
    padding-top: 8px;
    font-weight: bold;
    padding-bottom: 5px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    background: #f5f5f5;
    border-radius: 4px}
.home-link {
    padding-left: 20px;
    padding-right: 20px}
.blog-pager-newer-link {
    padding-left: 14px;
    padding-right: 10px}
.blog-pager-older-link {
    padding-left: 7px;
    padding-right: 5px}
.PopularPosts .item-title {
    font-size: 14px;
    width: 270px;
    position: relative;
    top: 9px}
.popular-posts .item-thumbnail img {
    border-radius: 100px;
    box-shadow: 0 1px 3px #bbb;
    border: 5px solid #eee}
.popular-posts ul li {
    list-style: none;
    margin: -12px;
    border-radius: 100px-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease}
.jump-link {
    text-align: right;
    background: transparent}
.jump-link {
    position: relative;
    top: 8px;
    right: 10px}
.jump-link a {
    background: #3993e2;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    border: 1px #eaeaea solid}
.jump-link a:hover {
    text-decoration: none}
#PopularPosts1 {
    padding: 1.99px 1px}
.sidebar section {
    background-color: #eee}
.clearfix {
    letter-spacing: .4px;
    font-family: Open Sans Condensed,sans-serif;
    position: relative;
    font-size: 16px;
    bottom: 12px;
    height: 100px;
    padding: 0px 90px;
}
.clearfix a {
    text-decoration: none;
    color: #696969}
.clearfix a:hover {
    color: #4491f0}
.page-footer {
    height: 0}
.footer-outer {
    z-index: 10;
    background-color: #f9f9f9;
    top: 30px;
    height: 235px;
    left: 45px;
    width: 990px}
.code {
    border: solid #eee;
    border-width: 0 0 0 10px;
    background: url(//2.bp.blogspot.com/-e0n4DYVgyuU/Vjh8YBpEtkI/AAAAAAAAD5Y/cUP632j6_6o/s1600/code-background.jpg);
    font: 13px monospace;
    margin: 20px 0 0 0;
    padding: 0 10px 0;
    opacity: .9}
.below-post {
    padding: 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee}
abbr.published {
    display: none}
.widget {
    margin: 10px 0}
.PopularPosts img {
    padding: 0}
#span1,#span2,#span3,#span4,#span5,#span6 {
    float: left;
    margin: 7px;
    list-style: none;
    top: 10px;
    position: relative;
    height: 180px}
#span2 {
    background: url(//3.bp.blogspot.com/-w7HB_Q-QMyk/V1-HVP2I09I/AAAAAAAAFRM/8o3BqBzqMGoSOvFWFdaRHdcrutsZPqhJwCLcB/s1600/social.png) no-repeat;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-right: 25px;
    position: relative;
    padding-left: 10px;
    background-position: 5px 30px}
#span2 li {
    position: relative;
    left: 20px}
#span6 {
    background: url(//4.bp.blogspot.com/-RQj8QnY03KM/V1-KWg2WY5I/AAAAAAAAFRY/rXaaUELoQDoXldy_fO-b5gxynmMdSEd9QCLcB/s1600/social.png) no-repeat;
    background-position: 0 30px}
#span6 {
    padding-left: 4px}
#span6 li {
    position: relative;
    left: 22px}
#span3,#span4,#span5 {
    border-right: 1px solid #ddd;
    padding-right: 15px}
#span1 h3,#span2 h3,#span3 h3,#span4 h3,#span5 h3,#span6 h3 {
    color: #4491f0;
    padding-bottom: 5px}
.sidebar h4 {
    color: #777;
    font-size: 17px;
    padding: 2px 5px;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;
}
#sidebar-right-1 {
    width: 300px;
    position: relative;
    top: 0px;
}
.main-inner {
    padding-top: 30px;
    left: 15px;
}
body {
    margin: 0;
    padding: 0 0 1px}
.content-outer,.header-outer,.tabs-outer,.main-outer,.main-inner,.footer-outer,.post,.comments,.widget,.date-header,.inline-ad {
    position: relative;
    min-height: 0;
}
.footer-outer {
    margin-bottom: -1px}
.tabs-inner {
    padding: 0 15px}
.main-inner .column-center-inner,.main-inner .column-left-inner,.main-inner {
    padding: 15px}
.footer-inner {
    padding: 30px 15px}
.section {
    margin: 0 15px}
.section:first-child .widget:first-child {
    margin-top: 0}
.section:first-child #uds-searchControl+.widget {
    margin-top: 0}
.section: last-child .widget: last-child {
    margin-bottom: 0}
.tabs:first-child .widget {
    margin-bottom: 0}
a img {
    border: 0;
    position: relative}
h1,h2,h3,h4 {
    margin: 0;
    position: relative}
h1 a:hover {
    text-decoration: none}
h3 a:hover {
    text-decoration: none}
.tabs .widget h2 {
    display: none}
.tabs .widget ul,.tabs .widget ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none}
.tabs .widget li,.tabs .widget li {
    margin: 0;
    padding: 0;
    float: left}
.tabs .widget li a:hover {
    text-decoration: none}
.widget {
    line-height: 1.4}
.widget ul {
    padding: 0 0 0 1.25em;
    margin: 0;
    line-height: 1.2}
.BlogList ul {
    padding: 0}
.BlogList li .blog-content {
    position: relative}
.widget li,.BlogArchive #ArchiveList ul.flat li {
    padding: .25em 0;
    margin: 0;
    text-indent: 0}
.widget .post-body ul {
    padding: 0 2.5em;
    margin: .5em 0;
    line-height: 1.4}
.widget .post-body li {
    margin-bottom: .25em;
    padding-top: 0;
    padding-bottom: 0}
.item-control {
    display: none}
.item-control a,.item-action a {
    text-decoration: none!important}
.widget-item-control {
    float: right;
    height: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 10}
.widget-item-control a {
    opacity: .5}
.nav ul {
    padding: 0;
    margin: 0;
    width: auto;
    padding-right: 35px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: #fff;
    left: 0px;
    top: 27px;
    width: 200px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav li ul li {
    width: 180px;
    border-bottom: 1px solid #ddd;
}
.nav a {
    color: #444;
    text-decoration: none;
}
.nav a:hover {
    color:#3993e2;
}
.nav li {
    float: left;
    list-style: none;
    text-transform: uppercase;
    padding: 6.5px 10px;
    font-size: 15px;
    font-weight: bold;
}
.nav {
    position: absolute;
    z-index: 9;
    background: #fff;
    width: 100%;
    right: 0;
    padding: 5px;
    height: 60px;
    border-bottom: 1px solid #eee;
}
#logo {
    float: left;
    width: 200px;
    padding: 3px 10px;
    padding-right: 5px;
}
#Label1 li {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    list-style: none;
    padding: 7px 5px;
    text-transform: capitalize;
}
#Label1 a {
    color: #666;
}
#Label1 a:hover {
    color: #39a9e6;
    text-decoration: none;
}
#Label1 ul {
    padding: 0;
}
#Label1 span {
    font-size: 12px;
    color: #edb81d;
    font-weight: bold;
}
div#search {
    position: relative;
    top: 30px;
    left: 25px;
    background: #eee;
    padding: 10px;
    margin: 0;
    width: 640px;
}
#search #input {
    height: 30px;
    width: 530px;
}
#search #submit {
    height: 36px;
    width: 100px;
    background: #2196F3;
    border: 1px;
    color: #fff;
}
a.addthis_button {
    right: 100px;
    position: absolute;
    top: 50px;
}
