.opennav {
    background: #f3f3f3;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px;
}
.opennav img {
    border-radius: 100px;
}
.test {
    position: relative;
    transition:all .4s linear;
    left: 0;
}
.moved {
    transition: all .10s linear;
    position: fixed;
    top: 60px;
    background: #f3f3f3;
    height: 590px;
    left: -10px;
    width: 14.4%;
    padding: 5px;
}
#fund {
    position: fixed;
    left: 0;
    z-index: 999999999999999999;
    background: #fff;
    width: 100%;
    display:none;
    height: 100%;
    text-align: center;
    padding-top: 200px;
}
#x-fund:after {
    content: "❯";
    margin-left: 10px;
    color: steelblue;
}
#x-fund {
    display: none;
    color: #000;
    border-bottom: 1px solid;
    padding: 5px;
    font-size: 20px;
    border-radius: 2px;
}
div#closure {
    margin-top: 30px;
}
#x-fund:hover {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid;
}
#fund p {
    font-size: 35px;
    color: #000;
}
#share {
    width: 15%;
    border: 0;
}
.sq {
    top: -6px;
    position: relative;
    text-align: center;
    padding: 15px 0px;
    height: 285px;
}
.sq span {
    float: left;
    width: 50%;
}
#recommend {
    margin: 20px 5px;
}
.followers {
    background: rgba(255, 255, 255, .9);
    position: fixed;
    width: 58.8%;
    z-index: 9;
    margin-left: 1px;
    height: 34px;
    top: 0;
    border-bottom: 1px solid #eaeaea;
}
li#Sponsored {
    background: #fff;
    border: 1px solid #ddd;
}
li#Sponsored p {
    color: #e15954;
    font-weight: bold;
    margin: 5px 0px;
}
#Sponsored a {
    font-size: 14px;
}
.followers ul li {
    float: left;
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
}
.followers p {
    margin: 0;
    font-weight: bold;
    float: left;
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 17px;
    margin-right: 10px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}
.followers a {
    position: relative;
    color: #333;
    bottom: 7px;
    left: 7px;
    font-weight: 700;
    text-decoration: none;
}
.followers img {
    width: 26px;
    height: 26px;
    opacity: 0.8;
}
.followers li:hover img {
  opacity: 1;  
}
.followers a:hover {
    text-decoration: none;
    color: #333;
}
.logo {
    width: 100%;
    margin-left: 6px;
    margin-top: 5px;
}
.nav h3 {
    background: #ff7c52;
    text-align: center;
    padding: 3px;
    border-radius: 3px;
    border-bottom: 3px solid #f1501d;
}
.nav h3 a {
    color:#fff
}
.slideOutTab {
    position: fixed;
    width: 210px;
    top: 0;
    height: 100%;
    left: -230px;
    z-index: 999;
    background: rgba(0, 0, 0, .88);
    padding: 10px;
    color: #fff;
}
.slideOutTab p {
    position: absolute;
    left: 229px;
    background: rgba(0, 0, 0, .88);
    vertical-align: middle;
    padding: 30px 10px;
    font-size: 24px;
    bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}
#post-ad{text-align:center}
.post img {
    border: 1px solid #eaeaea;
}
.post h2 {
    padding: 10px 0;
}
.main-inner .columns {
    padding-left: 0;
    padding-right: 360px;
    background: #fff;
}
.main-inner .fauxcolumn-center-outer {
    left: 0;
    right: 360px;
}
.main-inner .fauxcolumn-left-outer {
    width: 0;
}
.main-inner .column-left-outer {
    width: 0;
    right: 100%;
    margin-left: -0;
}
#layout {
    min-width: 0;
}
#layout .content-outer {
    min-width: 0;
    width: 800px;
}
#layout .region-inner {
    min-width: 0;
    width: auto;
}
.main-inner .column-right-outer {
    width: 300px;
    margin-right: -300px;
}
body {
    min-width: 1055px;
    font-family: trebuchet ms;
    color: #464646;
    font-size: 14.5px;
}
a {
    color: steelblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #00a8e3;
}
a:visited {
    color: #888}
.sidebar {
    position: relative;
    right: 5px;
    top: 25px}
.post-comment-link {
    float: right}
body {
    overflow-x: hidden}
.blog-pager-older-link,.home-link,.blog-pager-newer-link {
    font-size: 15px;
    padding-top: 8px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid #ddd;
    background: #f5f5f5;
    border-radius: 4px}
.home-link {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 150px;
}
.blog-pager-newer-link {
    padding-left: 14px;
    padding-right: 10px}
.blog-pager-older-link {
    padding-left: 7px;
    padding-right: 5px}
.popular-posts ul li {
    list-style: none;
    margin-bottom: 5px;
    line-height: 1.3;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid #f3f3f3;
}
.PopularPosts .item-thumbnail {
    float: left;
    margin: 0 5px 5px 0;
    background: #fff;
}
.popular-posts li:hover {
    background: #fff;
}
.popular-posts li:hover a {
    color: #4d90fe;
}
.popular-posts ul {
    padding: 0;
}
.popular-posts a:hover {
    color: #4d90fe;
    text-decoration: none;
}
.popular-posts a {
    color: #666;
    font-size: 15px;
    font-family: arial,sans-serif;
}
#PopularPosts1 {
    padding: 0;
    border: 0;
    margin: 0;
}
#HTML5 {
    padding: 0;
    margin: 0;
}
.column-right-outer {
    width: 24%;
    margin-left: 5px;
}
.sidebar section {
    background-color: #eee}
.code {
    border: solid #eee;
    border-width: 0 0 0 10px;
    background: url(//2.bp.blogspot.com/-e0n4DYVgyuU/Vjh8YBpEtkI/AAAAAAAAD5Y/cUP632j6_6o/s1600/code-background.jpg);
    font: 13px monospace;
    margin: 20px 0 0 0;
    padding: 0 10px 0;
    opacity: .9}
abbr.published {
    display: none}
.widget {
    margin: 10px 0}
.sidebar h4 {
    color: #777;
    font-size: 17px;
    padding: 2px 5px;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;
}
#sidebar-right-1 {
    position: relative;
    top: 0px;
    font-family: "Roboto","helvetica neue",helvetica,arial,sans-serif;
}
body {
    margin: 0;
    padding: 0 0 1px}
.content-outer,.header-outer,.tabs-outer,.main-outer,.main-inner,.footer-outer,.post,.comments,.widget,.date-header,.inline-ad {
    position: relative;
    min-height: 0;
}
.footer-outer {
    margin-bottom: -1px}
.tabs-inner {
    padding: 0 15px}
.footer-inner {
    padding: 0}
.section:first-child .widget:first-child {
    margin-top: 0}
.section:first-child #uds-searchControl+.widget {
    margin-top: 0}
.section: last-child .widget: last-child {
    margin-bottom: 0}
.tabs:first-child .widget {
    margin-bottom: 0}
a img {
    border: 0;
    position: relative}
h1,h2,h3,h4 {
    margin: 0;
    position: relative}
h1 a:hover {
    text-decoration: none}
h3 a:hover {
    text-decoration: none}
.tabs .widget h2 {
    display: none}
.tabs .widget ul,.tabs .widget ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none}
.tabs .widget li,.tabs .widget li {
    margin: 0;
    padding: 0;
    float: left}
.tabs .widget li a:hover {
    text-decoration: none}
.widget {
    line-height: 1.4;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.widget ul {
    padding: 0;
    margin: 0;
    line-height: 1.2}
.BlogList ul {
    padding: 0}
.BlogList li .blog-content {
    position: relative}
.widget li,.BlogArchive #ArchiveList ul.flat li {
    padding: .25em 0;
    margin: 0;
    text-indent: 0}
.widget .post-body ul {
    padding: 0 2.5em;
    margin: .5em 0;
    line-height: 1.4}
.widget .post-body li {
    margin-bottom: .25em;
    padding-top: 0;
    padding-bottom: 0}
.item-control {
    display: none}
.item-control a,.item-action a {
    text-decoration: none!important}
.widget-item-control {
    float: right;
    height: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 10}
.clearfix {
    font-size: 14px;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    background: #fff;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.clearfix a {
    line-height: 1.7;
    color: #3993e2;
    text-decoration: underline
}
.page-footer {
    height: 0;
}
#sidebar-right-1 h2 {
    font-size: 20px;
    color: #464646;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 5px;
}
.floater {
    width: 14.7%;
    float: left;
    position: relative;
    margin-right: 7px;
    height: 10px;
}
.nav {
    position: relative;
    margin-left: 10px;
    z-index: 9;
}
#drop:hover:after {
    display: none;
}
.nav img {
    width: 100%;
}
.nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.nav a {
    color: #666;
    text-decoration: none;
}
.nav li:last-child {
    border: none
}
.nav .active {
    position: fixed;
    top: 40px;
    background: #f1f1f1;
}
.nav li:hover {
    background: #fff;
    border: 1px solid #eaeaea;
}
.nav li {
    padding: 5px;
    border: 1px solid #f3f3f3;
}
.nav li:hover a {
    color: #666;
}
#main {
    padding-top: 10px;
    position: relative;
    float: left;
    width: 59%;
    background: #fff;
    margin-right: 10px;
    border: 1px solid #ddd;
}
#Blog1 {
    margin: 0;
    padding: 0;
}
div#comments {
    text-align: center;
}
#embeder {
    padding: 10px;
    background: #ffdba2;
}
.popular-posts ul {
    padding: 0;
}
.section{margin:0}
li#trigger {
    background: #efc27b;
}

li#trigger a {
    color: #fff;
}
#comments h4 {
    font-size: 25px;
}
#drop li {
    display: block;
    background: #fff;
    border: 0;
    position: relative;
    right: 5px;
    top: 5px;
}
#drop li:hover {
    background: #f3f3f3;
}
li#drop:hover li {
    display: block;
}
#drop:hover li {
    display: none;
}
#drop li  a {
color:#666;
}
.nav li ul li {
    background: rgba(0, 0, 0, .8);
}
.nav li ul li a{
    color: #fff;
}
.nav li ul {
    position: relative;
    left: 211px;
    width: 200px;
    float: right;
    height: 0;
    bottom: 27px;
    display: none;
}
.nav li ul li {
    border: 0;
}
li#drop:hover ul {
    display: block;
}
Html,.content{background:#f3f3f3;}
textarea { resize: none; }
@media screen and (max-width: 700px) {
.followers,#share,#pager,.fsk,#email,.related.show,#at-expanded-menu-host,.search,#embeder,#sharer,#comments,.related,#blog-pager,.floater,.column-right-outer,footer {display:none}
body {overflow-x:hidden}
}
#drop:after {
    content: "❯";
    position: absolute;
    right: 10px;
    color: #000;
}
