@media only screen and (max-width: 600px) {
body {
font-family: Roboto, sans-serif;
}
    #main {
    margin: 0;
    width: 100%;
    border: #fff;
    position: relative;
}
    .post img {
    border: 1px solid #eaeaea;
    float: left;
    margin-right: 15px;
    width: 110px;
    height: 90px;
}
    .post-outer {
    border-bottom: 8px solid #f3f3f3;
    padding: 10px;
    float: left;
    width: 100%;
}
#nav {
    width: 60px;
    border: 0;
    font-size: 20px;
    text-align: center;
}
#nav span, #search span {
	display:none
	}
#search {
    width: 60px;
    border: 0;
    float: left;
    font-size: 20px;
    text-align: center;
}

#nav i,#search i {
margin-right:5px
}
.accordion {
  background-color: #fff;
  color: #222;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
    border-bottom: 1px solid #eee;
}

.active, .accordion:hover {
  background-color: #fff;
}

.panel {
float:left;
  padding: 0 18px;
background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
    list-style: none;
    font-size: 14px;
}

.panel a {
color:#111
}

button.accordion b {
    background: #fbc019;
    padding: 5px 11px;
    border-radius: 100px;
    color: #fff;
    margin-right:8px;
}
img#logo {
    float: left;
    width: 218px;
}

form#_bcd_141013_search_form {
    position: relative;
    display: block;
    clear: both;
    float: none;
	
	border: /*border-width-s*/1px solid;/*border-width-e*/
	border-color: /*border-color-s*/#dddddd;/*border-color-e*/
    padding: /*padding-s*/5px;/*padding-e*/
    font-size: /*font-size-s*/12px;/*font-size-e*/
	background-color: /*bg-color-s*/#ffffff;/*bg-color-e*/
}
input#_bcd_141013_search_text {
    width: auto;
    border: none;
    margin: 0;
	padding: 0;
    line-height: 2em;
    height: 2em;
    outline: none;
	background: transparent;
	
	color: /*text-color-s*/#000000;/*text-color-e*/
}
button#_bcd_141013_search_submit:hover {
    opacity: 0.8;
}
button#_bcd_141013_search_submit {
    width: auto;
	padding: 0 /*padding-s*/5px;/*padding-e*/
    margin: 0;
    position: absolute;
    right: /*padding-s*/5px;/*padding-e*/
    top: /*padding-s*/5px;/*padding-e*/
    line-height: 2em;
    height: 2em;
    text-align: center;
    cursor: pointer;
	border: none;
	min-width: 2em;
	
	color: /*submit-text-color-s*/#ffffff;/*submit-text-color-e*/
    background: /*submit-bg-color-s*/#fd4500;/*submit-bg-color-e*/
}
html[dir=&quot;rtl&quot;] button#_bcd_141013_search_submit {
	right: auto;
	left: /*padding-s*/5px;/*padding-e*/
}
.header {
    z-index: 9999;
    position: relative;
    border: 0;
    background: #fff;
    width: 340px;
    margin: auto;
}
.header-container {
text-align:center;
width:100%;
background:#fff;
	}
}
@media only screen and (min-width: 600px) {
.post img {
    border: 1px solid #eaeaea;
}
.post h2 {
    padding: 10px 0;
}
a {
 color:#fd4500;
}
.main-inner .columns {
    padding-left: 0;
    padding-right: 360px;
    background: #fff;
}
.main-inner .fauxcolumn-center-outer {
    left: 0;
    right: 360px;
}
.main-inner .fauxcolumn-left-outer {
    width: 0;
}
.main-inner .column-left-outer {
    width: 0;
    right: 100%;
    margin-left: -0;
}
#layout {
    min-width: 0;
}
#layout .content-outer {
    min-width: 0;
    width: 800px;
}
#layout .region-inner {
    min-width: 0;
    width: auto;
}
.main-inner .column-right-outer {
    width: 300px;
    margin-right: -300px;
}
body {
    min-width: 1055px;
    font-family: Roboto, sans-serif;
    color: #222;
    font-size: 14.5px;
}
.code {
    border: solid #f3f3f3;
    border-width: 0 0 0 10px;
    background: url(//2.bp.blogspot.com/-e0n4DYVgyuU/Vjh8YBpEtkI/AAAAAAAAD5Y/cUP632j6_6o/s1600/code-background.jpg);
    font: 13px monospace;
    margin: 20px 0 0 0;
    padding: 0 10px 0;
    opacity: .9}
abbr.published {
    display: none}
.clearfix {
    font-size: 14px;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    background: #fff;
    margin-top: 30px;
    z-index: 99;
}
.clearfix a {
    line-height: 1.7;
    color: #3993e2;
    text-decoration: underline
}
.page-footer {
    height: 0;
}
#main {
    position: relative;
    width: 800px;
    background: #fff;
    margin: auto;
}
#Blog1 {
    margin: 0;
    padding: 0;
}
div#comments {
    text-align: center;
}
.popular-posts ul {
    padding: 0;
}
.section{margin:0}
#comments h4 {
    font-size: 25px;
}
Html,.content{background:#f3f3f3;}
textarea { resize: none; }
  #nav {
    float: right;
    width: auto;
    border: 0;
}

#search {
    width: auto;
    border: 0;
    float: right;
}

#nav i,#search i {
margin-right:5px
}
.accordion {
  background-color: #fff;
  color: #222;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
    border-bottom: 1px solid #eee;
}

.active, .accordion:hover {
  background-color: #fff;
}

.panel {
float:left;
  padding: 0 18px;
background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
    list-style: none;
    font-size: 14px;
}

.panel a {
color:#111
}

button.accordion b {
    background: #fbc019;
    padding: 5px 11px;
    border-radius: 100px;
    color: #fff;
    margin-right:8px;
}
img#logo {
    float: left;
}

form#_bcd_141013_search_form {
    position: relative;
    display: block;
    clear: both;
    float: none;
	
	border: /*border-width-s*/1px solid;/*border-width-e*/
	border-color: /*border-color-s*/#dddddd;/*border-color-e*/
    padding: /*padding-s*/5px;/*padding-e*/
    font-size: /*font-size-s*/12px;/*font-size-e*/
	background-color: /*bg-color-s*/#ffffff;/*bg-color-e*/
}
input#_bcd_141013_search_text {
    width: auto;
    border: none;
    margin: 0;
	padding: 0;
    line-height: 2em;
    height: 2em;
    outline: none;
	background: transparent;
	
	color: /*text-color-s*/#000000;/*text-color-e*/
}
button#_bcd_141013_search_submit:hover {
    opacity: 0.8;
}
button#_bcd_141013_search_submit {
    width: auto;
	padding: 0 /*padding-s*/5px;/*padding-e*/
    margin: 0;
    position: absolute;
    right: /*padding-s*/5px;/*padding-e*/
    top: /*padding-s*/5px;/*padding-e*/
    line-height: 2em;
    height: 2em;
    text-align: center;
    cursor: pointer;
	border: none;
	min-width: 2em;
	
	color: /*submit-text-color-s*/#ffffff;/*submit-text-color-e*/
    background: /*submit-bg-color-s*/#fd4500;/*submit-bg-color-e*/
}
html[dir=&quot;rtl&quot;] button#_bcd_141013_search_submit {
	right: auto;
	left: /*padding-s*/5px;/*padding-e*/
}
.header {
    float: left;
    width: 100%;
    z-index: 9999;
    position: relative;
    border-bottom: 10px solid #f3f3f3;
}
}
.duper-ad {
    width: 100%;
    background: #e4e4e8;
    text-align: center;
    padding: 10px 0px;
}
.super-ad {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    background: rgba(228, 228, 232, 0.8);
    text-align: center;
    padding: 10px 0px;
}
a#x-super {
    float: right;
    font-size: 25px;
    position: relative;
    bottom: 10px;
}
.footer a {
    margin: 10px;
    text-decoration: none;
    font-size: 14px;
}
.footer {
    text-align: center;
    width: 100%;
    background: #fff;
    padding: 50px 0px;
    margin-top: 90px;
}
#pride {
width:100%;
text-align:center;
padding:10px 0px;
}
