::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #ff5e00
}
.topper span iframe {
    border: 0;
    width: 370px;
    height: 35px;
}
::selection {
    color: #fff;
    background: #ff5e00
}
.gsc-control-cse.gsc-control-cse-en {
    background: none;
    border: 0;
}
#box::placeholder {
  font-weight: normal;
color:#fd6200
}
.svg-icon {
    width: 1em;
    height: 1em;
    font-size: 40px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fd6200;
}

.svg-icon circle {
  stroke: #fd6200;
  stroke-width: 10;
}
.height {
    height: 56px;
    margin-bottom: 30px;
}
.topper {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
}
.topper span {
float:left;
margin:0 10px
}
#logo {
    width: 180px;
}
form#box {
    margin: 6px 0px;
}
#box input {
    border: 0;
    border-bottom: 1px solid #fd6200;
    padding: 10px 5px;
    font-size: 18px;
    width: 370px;
}
#box input:focus {
    outline: none;
}
#box button {
    background: none;
    border: 0;
    float: right;
    cursor: pointer;
}
.clearfix a {
    margin: 0px 10px;
}
.top-ad {
    float: right;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 999;
    margin-bottom: 20px;
}
#Feed1 li {
    padding: 0px 0px 15px 0px;
}
#Feed1 a {
    color: #ff5e00;
}
.Left-sidebar {
    width: 180px;
    float: left;
    padding: 10px;
}
.section{margin:0}
#random { width: 100%; border: 0; height: 250px; }
#post-ad{text-align:center}
.post img {
    border: 1px solid #eaeaea;
}
.post h2 {
    padding: 10px 0;
}
.main-inner .columns {
    padding-left: 0;
    padding-right: 360px;
    background: #fff;
}
.main-inner .fauxcolumn-center-outer {
    left: 0;
    right: 360px;
}
.main-inner .fauxcolumn-left-outer {
    width: 0;
}
.main-inner .column-left-outer {
    width: 0;
    right: 100%;
    margin-left: -0;
}
#layout {
    min-width: 0;
}
#layout .content-outer {
    min-width: 0;
    width: 800px;
}
#layout .region-inner {
    min-width: 0;
    width: auto;
}
.main-inner .column-right-outer {
    width: 300px;
    margin-right: -300px;
}
body {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-family: Roboto, sans-serif;
    color: #333;
    font-size: 14.5px;
}
a {
    color: #ff5e00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #ff3d00;
}
a:visited {
    color: #888}
.sidebar {
    position: relative;
    right: 5px;
    top: 25px}
.post-comment-link {
    float: right}
body {
    overflow-x: hidden}
.blog-pager-older-link,.home-link,.blog-pager-newer-link {
    font-size: 15px;
    padding-top: 8px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid #ddd;
    background: #f5f5f5;
    border-radius: 4px}
.home-link {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 150px;
}
.blog-pager-newer-link {
    padding-left: 14px;
    padding-right: 10px}
.blog-pager-older-link {
    padding-left: 7px;
    padding-right: 5px}
.popular-posts ul li {
    list-style: none;
    margin: 10px 0px;
}
.popular-posts ul {
    padding: 0;
}
.popular-posts a:hover {
    color: #ff5e00;
    text-decoration: none;
}
.popular-posts a {
    color: #464646;
}
.column-right-outer {
    width: 300px;
    padding: 0px 10px;
}
.sidebar section {
    background-color: #eee}
.code {
    border: solid #eee;
    border-width: 0 0 0 10px;
    background: url(//2.bp.blogspot.com/-e0n4DYVgyuU/Vjh8YBpEtkI/AAAAAAAAD5Y/cUP632j6_6o/s1600/code-background.jpg);
    font: 13px monospace;
    margin: 20px 0 0 0;
    padding: 0 10px 0;
    opacity: .9}
abbr.published {
    display: none}
#sidebar-right-1 {
    position: relative;
    top: 0px;
    font-family: "Roboto","helvetica neue",helvetica,arial,sans-serif;
}
body {
    margin: 0;
    padding: 0 0 1px}
.footer-outer {
    margin-bottom: -1px}
.tabs-inner {
    padding: 0 15px}
.footer-inner {
    padding: 0}
.section:first-child .widget:first-child {
    margin-top: 0}
.section:first-child #uds-searchControl+.widget {
    margin-top: 0}
.section: last-child .widget: last-child {
    margin-bottom: 0}
.tabs:first-child .widget {
    margin-bottom: 0}
a img {
    border: 0;
    position: relative}
h1,h2,h3,h4 {
    margin: 0;
    position: relative}
h1 a:hover {
    text-decoration: none}
h3 a:hover {
    text-decoration: none}
.tabs .widget h2 {
    display: none}
.tabs .widget ul,.tabs .widget ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none}
.tabs .widget li,.tabs .widget li {
    margin: 0;
    padding: 0;
    float: left}
.tabs .widget li a:hover {
    text-decoration: none}
.widget ul {
    padding: 0;
    margin: 0;
    line-height: 1.2}
.BlogList ul {
    padding: 0}
.BlogList li .blog-content {
    position: relative}
.widget li,.BlogArchive #ArchiveList ul.flat li {
    padding: .25em 0;
    margin: 0;
    text-indent: 0}
.widget .post-body ul {
    padding: 0 2.5em;
    margin: .5em 0;
    line-height: 1.4}
.widget .post-body li {
    margin-bottom: .25em;
    padding-top: 0;
    padding-bottom: 0}
.item-control {
    display: none}
.item-control a,.item-action a {
    text-decoration: none!important}
.widget-item-control {
    float: right;
    height: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 10}
.clearfix {
    font-size: 14px;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    background: #fff;
    margin-top: 30px;
    z-index: 99;
}
.page-footer {
    height: 0;
}
.column-right-outer .widget p {
    font-size: 18px;
    margin: 0px 0px 30px 0;
    position: relative;
    color: #000;
    top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.nav img {
    width: 98%;
    height: 55px;
}
.nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.nav a {
    color: #000;
    text-decoration: none;
}
.nav li {
    padding: 8px;
}
.nav .active {
    position: fixed;
    top: 40px;
    background: #f1f1f1;
}
.nav li:hover {
    background: #ff5e00;
}
.nav li:hover a {
    color: #fff;
}
#main {
    position: relative;
    float: left;
    width: calc(100% - 550px);
    background: #eee;
    padding: 0px 10px;
}
#Blog1 {
    margin: 0;
    padding: 0;
}
div#comments {
    text-align: center;
}
.popular-posts ul {
    padding: 0;
}
.section{margin:0}
#comments h4 {
    font-size: 25px;
}
.nav li ul li {
    background: rgba(0, 0, 0, .8);
}
.nav li ul li a{
    color: #fff;
}
.nav li ul {
    position: relative;
    left: 211px;
    width: 200px;
    float: right;
    height: 0;
    bottom: 30px;
    display: none;
}
.nav li ul li {
    border: 0;
}
.accordion:hover .accordion-item:hover .accordion-item-content,.accordion .accordion-item--default .accordion-item-content {
max-height:600px;
}
.accordion-item-content,
.accordion:hover .accordion-item-content {
    border-radius: 4px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.60s;
}
.accordion-item-content li {
    background: #eee;
}
#drop:after {
    content: "â¯";
    float: right;
    color: #ff5e00;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    font-size: 17px;
    transform: rotate(90deg);
}
Html,.content{background:#eee;}
.column-right-outer .widget p b {
    letter-spacing: 0;
    font-size: 19px;
}
#Left-sidebar::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}
div#Left-sidebar::-webkit-scrollbar-track {
    background: #eee;
}
div#Left-sidebar::-webkit-scrollbar {
    width: 8px;
}
div#Left-sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 100px;
}
#comment-post-message a {
    background: #000;
    padding: 5px 20px;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
}
span.datetime.secondary-text {
    display: none;
}
#comments li {
    list-style: none;
    background: #eee;
    margin: 15px 5px;
    padding: 5px;
    border-radius: 5px;
}
#comment-holder ol {
    padding: 0;
    margin: 0px 10px;
}
#comments h4 {
    text-align: center;
    font-size: 18px;
    margin: 20px 0px 5px 0px;
}
.loadmore {
    display: none;
}
.avatar-image-container {
    float: left;
    background: #fff;
    margin-right: 10px;
    border-radius: 100px;
}
.avatar-image-container img {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.comment-actions {
    float: right;
}
.comment-actions a {
    margin: 0px 5px;
}
.comment-block {
    padding: 15px 10px;
}
.thread-toggle {
    position: relative;
    top: 10px;
}
.thread-toggle a {
    color:#000
}
.comment-actions a:last-child {
    color: #ed3725;
}
.comment-replies {
    background: #fff;
    margin: 20px -10px -15px -5px;
}
#comments h2 {
    text-align: center;
}
body {
	margin: 0;
	padding: 0 0 1px
}
.footer-outer {
	margin-bottom: -1px
}

.content-inner {
	padding: 10px
}

.tabs-inner {
	padding: 0 15px
}

.main-inner {
	padding: 30px 0
}

.main-inner .column-center-inner,
.main-inner .column-left-inner,
.main-inner .column-right-inner {
	padding: 0 15px
}

.footer-inner {
	padding: 30px 15px
}
a img {
	border: none;
	position: relative
}
h1,
h2,
h3,
h4 {
	margin: 0;
	position: relative
}

h1 a:hover {
	text-decoration: none
}

h3 a:hover {
	text-decoration: none
}
.post-body {
	width: 100%;
	_overflow: hidden
}

.post-header,
.post-footer {
	line-height: 1.6
}

.post-footer-line>* {
	margin-right: 1em
}

.post-footer-line>*:last-child {
	margin-right: 0
}

.post-timestamp {
	margin-left: -1em
}

.post-footer-line>*:first-child {
	margin-left: 0
}

.post .tr-caption-container {
	position: relative
}

.inline-ad {
	margin: 2em 0;
	text-align: center;
	line-height: 0
}

#comments .comment-author {
	padding-left: 25px
}

.comment-body {
	margin: .5em 25px
}

.comment-footer {
	margin: .5em 25px 1.5em
}

.comment-body p {
	margin: 0
}

#comments .avatar-comment-indent .comment-author {
	margin-left: -45px;
	padding-left: 45px
}

.deleted-comment {
	font-style: italic;
	opacity: .5
}
.column-center-outer,
.column-left-outer,
.column-right-outer {
	position: relative;
	float: left;
	_display: inline;
	_overflow: hidden
}

.column-center-outer {
	width: 100%
}

.column-left-outer {
	margin-left: -100%
}
.body-fauxcolumns,
.content-fauxcolumns {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	_height: expression(this.parentNode.offsetHeight + 'px');
	width: 100%;
	overflow: hidden
}

.body-fauxcolumns .fauxcolumn-outer {
	width: 100%
}

.content-fauxcolumns .fauxcolumn-outer {
	position: relative;
	overflow: visible;
	height: 100%;
	margin: 0 auto
}

.content-fauxcolumns .fauxcolumn-left {
	width: 100%
}

section,
nav,
article,
aside,
hgroup,
header,
footer {
	display: block
}

time,
mark {
	display: inline
}
a.follower-link {
	cursor: pointer
}

a.next-page-link {
	cursor: pointer
}
.follower {
	width: 32px;
	height: 32px;
	float: left;
	margin: 2px
}

.follower img {
	width: 32px;
	clip: rect(0, 32px, 32px, 0);
	position: absolute
}
div.clear {
	clear: both
}
.PopularPosts .item-thumbnail {
	float: left;
	margin: 0 5px 5px 0
}

.PopularPosts .widget-content ul li {
	padding: .7em 0
}

.PopularPosts img {
	padding-right: .4em
}

.PopularPosts .item-title {
	padding-bottom: .2em
}
.default-avatar {
	display: none
}
.hidden {
	display: none
}

.invisible {
	visibility: hidden
}
.container::after,
.float-container::after {
	clear: both;
	content: '';
	display: table
}

.clearboth {
	clear: both
}
.backlink-toggle-zippy {
	padding-right: 11px;
	margin-right: .1em;
	cursor: pointer;
	cursor: hand;
	background: url(https://resources.blogblog.com/img/triangle_ltr.gif) no-repeat left center
}

.expanded-backlink .backlink-toggle-zippy {
	background-image: url("https://resources.blogblog.com/img/triangle_open.gif")
}

.collapsed-backlink .collapseable {
	display: none
}
#comment-actions {
	background: transparent;
	border: 0;
	padding: 0;
	position: absolute;
	height: 25px
}

#comments .blogger-comment-icon,
.blogger-comment-icon {
	line-height: 16px;
	background: url(/img/b16-rounded.gif) left no-repeat;
	padding-left: 20px
}

#comments .openid-comment-icon,
.openid-comment-icon {
	line-height: 16px;
	background: url(/img/openid16-rounded.gif) left no-repeat;
	padding-left: 20px
}

#comments .anon-comment-icon,
.anon-comment-icon {
	line-height: 16px;
	background: url(/img/anon16-rounded.gif) left no-repeat;
	padding-left: 20px
}

.comment-form {
	clear: both;
	_width: 410px
}

.comment-link {
	white-space: nowrap
}

.paging-control-container {
	float: right;
	margin: 0 6px 0 0;
	font-size: 80%
}

.unneeded-paging-control {
	visibility: hidden
}

#comments-block .avatar-image-container img {
	-ms-interpolation-mode: bicubic;
	border: 1px solid #ccc;
	float: right
}

#comments-block .avatar-image-container.avatar-stock img {
	border-width: 0;
	padding: 1px
}

#comments-block .avatar-image-container {
	height: 37px;
	left: -45px;
	position: absolute;
	width: 37px
}

#comments-block.avatar-comment-indent {
	margin-left: 45px;
	position: relative
}

#comments-block.avatar-comment-indent dd {
	margin-left: 0
}

iframe.avatar-hovercard-iframe {
	border: 0 none;
	padding: 0;
	width: 25em;
	height: 9.4em;
	margin: .5em
}

.comments {
	clear: both;
	margin-top: 10px;
	margin-bottom: 0
}

.comments .comments-content {
	margin-bottom: 16px
}

.comments .comment .comment-actions a {
	padding-right: 5px;
	padding-top: 5px
}

.comments .comment .comment-actions a:hover {
	text-decoration: underline
}

.comments .comments-content .comment-thread ol {
	list-style-type: none;
	padding: 0;
	text-align: left
}

.comments .comments-content .inline-thread {
	padding: .5em 1em
}

.comments .comments-content .comment-thread {
	margin: 8px 0
}

.comments .comments-content .comment-thread:empty {
	display: none
}

.comments .comments-content .comment {
	margin-bottom: 16px;
	padding-bottom: 8px
}

.comments .comments-content .comment:first-child {
	padding-top: 16px
}

.comments .comments-content .comment:last-child {
	border-bottom: 0;
	padding-bottom: 0
}

.comments .comments-content .comment-body {
	position: relative
}

.comments .comments-content .user {
	font-style: normal;
	font-weight: bold
}

.comments .comments-content .icon.blog-author {
	display: inline-block;
	height: 18px;
	margin: 0 0 -4px 6px;
	width: 18px
}

.comments .comments-content .datetime {
	margin-left: 6px
}

.comments .comments-content .comment-header,
.comments .comments-content .comment-content {
	margin: 0 0 8px
}

.comments .comments-content .comment-content {
	text-align: justify
}

.comments .comments-content .owner-actions {
	position: absolute;
	right: 0;
	top: 0
}

.comments .comments-replybox {
	border: none;
	height: 250px;
	width: 100%
}

.comments .comment-replybox-single {
	margin-left: 48px;
	margin-top: 5px
}

.comments .comment-replybox-thread {
	margin-top: 5px
}

.comments .comments-content .loadmore a {
	display: block;
	padding: 10px 16px;
	text-align: center
}

.comments .thread-toggle {
	cursor: pointer;
	display: inline-block
}

.comments .continue {
	cursor: pointer
}

.comments .continue a {
	display: block;
	font-weight: bold;
	padding: .5em
}

.comments .comments-content .loadmore {
	cursor: pointer;
	margin-top: 3em;
	max-height: 3em
}

.comments .comments-content .loadmore.loaded {
	max-height: 0;
	opacity: 0;
	overflow: hidden
}

.comments .thread-chrome.thread-collapsed {
	display: none
}

.comments .thread-toggle {
	display: inline-block
}

.comments .thread-toggle .thread-arrow {
	display: inline-block;
	height: 6px;
	margin: .3em;
	overflow: visible;
	padding-right: 4px;
	width: 7px
}

.comments .thread-expanded .thread-arrow {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent
}

.comments .thread-collapsed .thread-arrow {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==") no-repeat scroll 0 0 transparent
}

.comments .avatar-image-container {
	float: left;
	max-height: 36px;
	overflow: hidden;
	width: 36px
}

.comments .avatar-image-container img {
	max-width: 36px
}

.comments .comment-block {
	margin-left: 48px;
	position: relative
}

.comments .hidden {
	display: none
}

@media screen and (max-device-width:480px) {
	.comments .comments-content .comment-replies {
		margin-left: 0
	}
}

table.tr-caption-container {
	padding: 4px;
	margin-bottom: .5em
}

td.tr-caption {
	font-size: 80%
}

.icon-action {
	border-style: none !important;
	margin: 0 0 0 .5em !important;
	vertical-align: middle
}

.comment-action-icon {
	width: 13px;
	height: 13px;
	margin-top: 3px
}

.delete-comment-icon {
	background: url("/img/icon_delete13.gif") no-repeat left;
	padding: 7px
}

#comment-popup {
	position: absolute;
	visibility: hidden;
	width: 100px;
	height: 20px
}

@media all {
	.BLOG_mobile_video_class {
		display: none
	}
}

@media handheld {
	.BLOG_mobile_video_class {
		display: inline
	}
	.BLOG_video_class {
		display: none
	}
}
#people {
    float: left;
    position: relative;
    top: 12px;
    margin-right: 20px;
}
#people li {
    margin: 0px 0px 8px 0px;
}
