.content {
    margin-top: 60px;
    margin-bottom: 90px;
}
a { color:#fd4500; }
	.featured {
    padding: 10px;
    width: 300px;
    margin: 50px auto auto auto;
}
	#logo {
    float: left;
    width: 70px;
    margin: 0px 10px;
}
#logo img {
width:150px;
}
.header-container {
    height: 50px;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
	left:0;
	top:0;
}
	.header {
    background: #fff;
}
	.leaderboard {
    display: none;
}
.searcher {
    float: left;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0px;
    padding: 10px;
    z-index: 999;
    text-align: center;
}
.searcher form {
    width: 90%;
}
#search-in {
    background: #f3f3f3;
    border: 0;
    border-radius: 100px;
    padding: 10px 0px 10px 10px;
    width: 60%;
}
button.submit-search {
    background: #f3f3f3;
    color: #fd4500;
    border: 0;
    border-radius: 100px;
    padding: 8px 15px 9px 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0;
    margin: 0px -20px;
    font-size: 16px;
}
button#o-search {
    color: #000;
    border: 0;
    font-size: 22px;
    background: #fff;
    float: right;
    margin: 10px 0px;
}
	input#search-in,#nav,.submit-search:focus {
	outline:none;	
	}
.searcher {
    display: none;
}
body {
font-family: Roboto, sans-serif;
}
    #main {
    margin: 0;
    width: 100%;
    border: #fff;
    position: relative;
}
    .post img {
    border: 1px solid #eaeaea;
    float: left;
    margin-right: 15px;
    width: 110px;
    height: 90px;
}
    .post-outer {
    border-bottom: 8px solid #f3f3f3;
    padding: 10px;
    float: left;
    width: 100%;
}
#nav {
    float: right;
    width: auto;
    border: 0;
    position: relative;
    background: #fff;
    font-size: 23px;
    margin: 9px 10px;
}
#nav i {
margin-right:5px
}
a#join {
    float: right;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 4px;
    margin: 9px 10px;
    color: #222;
}
#join span {
display:none
}
.footer a {
    margin: 0px 10px;
    text-decoration: none;
    color: orangered;
    line-height: 28px;
}
.footer {
    background: #fff;
    padding: 10px;
    text-align: center;
}
#pager {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
    float: left;
}
a#Blog1_blog-pager-older-link {
    background: #fd4500;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    letter-spacing: 0.5px;
    font-size: 17px;
    border-radius: 4px;
}
a#Blog1_blog-pager-older-link:hover {
background:#000	
}
post-label {
    background: #eee;
    float: right;
    padding: 12px 10px;
    text-transform: uppercase;
}
.post-label a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}
div#labeled {
    position: fixed;
    top: 50px;
    width: 100%;
    background: rgba(255, 255, 255, .85);
    padding: 10px 15px;
    border-top: 1px solid #eee;
}
